body {
	background-image: url('../images/pyramids.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	margin-top: 50px;
}

.col-12 hr{
	margin-bottom: 30px;
}

hr {
	width: 400px;
	border: 2px solid #000;
	margin-bottom: 30px;
}

p {
	font-size: 24px;
}

@media screen and (max-width: 991px) {

	hr {
		width: 300px;
	}
}